
#Praise, #of {

    font-weight: 300;
    font-style: normal;
    font-size: 100px; /* Adjust this value as needed to make it 'really big' */
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    color: rgb(0, 0, 0);
}

#Shadows {
    font-weight: 300;
    font-style: normal;
    font-size: 100px; /* Adjust this value as needed to make it 'really big' */
    text-align: right; /* Centers the text horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    color: rgb(0, 0, 0);
    font-family: 
    font-optical-sizing: auto;

}


.container1 {
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align items to the start (left) of the container */
    padding-left: 20px; /* Add space from the left edge of the container */
}

.container2 {
display:flex;
align-items: flex-start;
padding-left: 20px;
}

p {
  font-family: 'Poppins', sans- serif; /* Use the Poppins font */
  text-align: left; 
  margin: 20px 40px; /* Add top and bottom margins of 20px and left and right margins of 40px */
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.container3{

    align-items:flex-end;
    padding-right: 20px;
    width: 50vw;
    margin-left: auto;
}



