@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

#Praise, #of {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px; /* Adjust this value as needed to make it 'really big' */
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    color: aliceblue;
}

#Shadows {
    font-weight: 300;
    font-style: normal;
    font-size: 100px; /* Adjust this value as needed to make it 'really big' */
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    color: aliceblue;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;

}


.container1 {
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align items to the start (left) of the container */
    padding-left: 20px; /* Add space from the left edge of the container */
}

.container2 {
display:flex;
align-items: flex-start;
padding-left: 20px;
}

p {
font-family: 'Poppins', sans- serif; /* Use the Poppins font */
  text-align: right; /* Center text horizontally */
  margin: 20px 40px; /* Add top and bottom margins of 20px and left and right margins of 40px */
  color: aliceblue;
  font-size: 20px;
}

.container3{
    display: flex;
    align-items:flex-end;
    padding-right: 20px;
}

.text{
    width: 50vw;
    margin-left: auto;

}

body {
    background-color: #000000; /* Light grey background */
}
