@font-face {
  font-family:'Aston Script' ;
  src: url('fonts/Aston\ Script.ttf');
}

@font-face{
  font-family: 'ChopinScript';
  src:url('fonts/chopin_script/ChopinScript.otf');
}


html{
  scroll-behavior: smooth;
}


body {
  overflow:hidden;
  display: grid;
  place-items: center; 
  margin:0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh; /* 确保 body 占满整个视口高度 */
  margin: 0; /* 移除默认的 margin */
}




.background {
  background-image: url('../project-3/images /background2.gif');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -10; /* 确保背景在内容之下 */
}



.title1,.title2 {
  font-family: 'Aston Script', cursive; 
  color: rgb(210, 230, 80);
  font-size: 100px; 
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* 文字阴影增加可读性 */
  z-index: 2; 
  animation: fadeIn 4s;
  animation: blink 2s infinite; /* 应用闪烁效果，每2秒完成一次循环 */

}

@keyframes blink {
  0%, 100% {
    opacity: 1;  /* 完全不透明 */
  }
  50% {
    opacity: 0.1;  /* 半透明 */
  }
}

.title-container {
  position: relative; /* 相对定位 */
  width: 60vw; 
  height: 100vh; 
  /* border:2px solid blue; */
  display:flex;
  justify-content: center; /* 水平居中子元素 */
  align-items: center; /* 垂直居中子元素 */
  z-index: 500;
}

.title1 {
  top: 20%;
  left: 40%;
  transform: translate(-20%, -50%);
}

.title2 {
  top:40vh;
  left: 55vw; 
  /* transform: translate(-50%, -50%); */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


#buttonAbout {
  position: fixed; 
  top: 10px;      
  right: 30px;   
  border: none;   
  background: none; 
  cursor: pointer; 
  font-size: 20px; 
  color: rgb(210, 230, 80);   
  font-family: 'Courier New', Courier, monospace;
  z-index: 1001;
  border-radius: 20px;
  box-shadow:0 2px 5px rgba(142, 141, 141, 0.2); 
  background-color: #575757; /* 背景颜色 */
}

/* #buttonGuide{
  position: fixed;
  top: 10px;     
  right: 160px;     
  z-index: 1000;   
  border: none;   
  background: none; 
  cursor: pointer; 
  font-size: 20px;  
  color:rgb(210, 230, 80);     
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
  box-shadow:0 2px 5px rgba(201, 187, 187, 0.2); 
  background-color: #5f5f5f; 
} */


#buttonAbout:hover {
  background-color: #a3a1a1; /* 鼠标悬停时的背景颜色变化 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 鼠标悬停时的阴影变化 */
}

/* #buttonAbout:hover, #buttonGuide:hover {
  background-color: #a3a1a1; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} */


.info {
  display: none;
  width: 80%; /* 控制宽度，根据需求调整 */
  height: 30vh;
  border: none; /* 去除默认边框 */
  border-radius: 10px; /* 添加圆角 */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* 添加阴影，创建浮动效果 */
  padding: 20px; /* 内边距 */
  background: rgba(172,183,164,255); /* 设置背景颜色，你可以根据需要修改颜色代码 */
  color: #000000; /* 文字颜色 */
  font-family: 'Courier New', Courier, monospace; /* 字体样式 */
  position: fixed; /* 固定定位，使其始终在视口中央 */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(100vh); /* 开始时在屏幕下方 */
  transition: transform 0.5s ease; /* 平滑过渡效果 */
  z-index: 1000; /* 高层级确保显示在其他内容之上 */
  overflow: hidden;
}

.info.open{
  top:50%;
  display:block;
}

.info.closing{
  top:100%;
  transition:top 0.5s ease;
}

/* 对话框内的关闭按钮样式 */
/* Info框内的关闭按钮样式 */
.info button {
  position: absolute;  /* 绝对定位 */
  top: 10px;  /* 顶部位置 */
  right: 10px;  /* 右侧位置 */
  background: none;  /* 移除背景 */
  border: none;  /* 移除边框 */
  font-size: 24px;  /* 字体大小 */
  color: black;  /* 字体颜色，根据背景色调整 */
  cursor: pointer;  /* 鼠标悬停时手形光标 */
}

/* 鼠标悬停时的样式变化 */
.info button:hover {
  color: grey;  /* 悬停时字体颜色变为灰色 */
}


.nextpagebtn {
  bottom: 20px;
  right: 30px;
  position: fixed; /* or absolute depending on the context */
  z-index: 10; /* Make sure it's above other elements */
  width:50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(210, 230, 80);
  background-color: transparent;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  line-height: 50px;
  color: rgb(210, 230, 80);
}




.section {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* For positioning inner elements */
}


  
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% repeat(4, 20%);
    justify-content: center;
    height: 90vh;
    width: 35vw; /* 可以调整这个值，比如60vw，来增加列宽 */
    padding: 1px;
  }



  .top-row {
    grid-column: 1 / -1; /* 从第一列开始，横跨到最后一列 */
    font-family:'ChopinScript';
    font-size: 45px;
    color: rgb(62, 61, 114);
    display: flex; /* 使用 flex 布局 */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* 可选的文字阴影效果 */


  }
 

  .grid-item,.top-row {
    background-color: rgba(255, 255, 255, 0.5); /* 调整不透明度以显示背景 */
    border: 1px solid rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content: center;
    align-items:center;
    clip-path: polygon( 5% 0, 10% 5%, 15% 0, 20% 5%, 25% 0, 30% 5%, 35% 0, 40% 5%, 45% 0, 50% 5%, 55% 0, 60% 5%, 65% 0, 70% 5%, 75% 0, 80% 5%, 85% 0, 90% 5%, 95% 0, 100% 5%, 
    95% 10%, 100% 15%, 95% 20%, 100% 25%, 95% 30%, 100% 35%, 95% 40%, 100% 45%, 95% 50%, 100% 55%, 95% 60%, 100% 65%, 95% 70%, 100% 75%, 95% 80%, 100% 85%, 95% 90%, 100% 95%, 
    95% 100%, 90% 95%, 85% 100%, 80% 95%, 75% 100%, 70% 95%, 65% 100%, 60% 95%, 55% 100%, 50% 95%, 45% 100%, 40% 95%, 35% 100%, 30% 95%, 25% 100%, 20% 95%, 15% 100%, 10% 95%, 5% 100%, 0% 95%, 
    5% 90%, 0% 85%, 5% 80%, 0% 75%, 5% 70%, 0% 65%, 5% 60%, 0% 55%, 5% 50%, 0% 45%, 5% 40%, 0% 35%, 5% 30%, 0% 25%, 5% 20%, 0% 15%, 5% 10%, 0% 5%);
  }

  .grid-item:nth-child(even) {
    /* background-color: rgb(123, 216, 247); */
    background-color: #b0c1a3;
  }
  
  /* 奇数项使用白色背景 */
  .grid-item:nth-child(odd) {
    background-color: white;
  }

  .grid-item img {
    width: 100%; /* or max-width: 100%; */
    height: 100%; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
    object-fit: contain;
    padding: 10px;
  }
  

  .overlay {
    align-items: center;
    position: absolute;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100vh;
    width: 100vw;
    left: 50;
    top: 50;
  }


  .overlay-grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 60vh;  
    width: 60vw;  
  }

  
  .overlay-grid-item {
    border: 1px solid rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    color: white;
  }


  @keyframes zoom{
    0%{transform: scale(0);}
    100% {transform:scale(1);}
  }


  #clock{
    position:fixed;
    bottom: 10px;
    right:10px;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    color:bisque;
    text-align:center;
    margin-top:20px;
    z-index:20;

  }

  .flower-petal {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: purple;
    animation: petal 1s  infinite;
    animation-play-state: running;
  }

  @keyframes petal {
    from {
      background-color: red;
    }
    to {
      background-color: yellow;
    }
  }

