body {
  display: grid;
  place-items: center; /* 同时设置水平和垂直居中 */
  margin:0;
  background-image: url('../project-3/images /flower_.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh; /* 确保 body 占满整个视口高度 */
  margin: 0; /* 移除默认的 margin */
}

  
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(4, 25%);
    justify-content: center;
    height: 80vh;
    width: 60vw; /* 可以调整这个值，比如60vw，来增加列宽 */

    padding: 1px;
  }


  .grid-item {
    background-color: rgba(255, 255, 255, 0.5); /* 调整不透明度以显示背景 */
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items:center;

  }

  .grid-item:nth-child(even) {
    background-color: rgb(123, 216, 247);
  }
  
  /* 奇数项使用白色背景 */
  .grid-item:nth-child(odd) {
    background-color: white;
  }


  /* 模态框背景样式 */
.modal {
  display: none; /* 默认隐藏模态框 */
  position: fixed; /* 固定位置，覆盖全屏 */
  z-index: 2; /* 在其他元素之上 */
  left: 0;
  top: 0;
  width: 100%; /* 宽度为整个视口 */
  height: 100%; /* 高度为整个视口 */
  background-color: rgba(0, 0, 0, 0.6); /* 半透明背景 */
}

/* 模态框内容的样式 */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 上下居中显示 */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* 可以根据需要调整宽度 */
}

/* 关闭按钮样式 */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


