.container {
  position: relative;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}



.item img {
  max-width: 400px; /* limits the image to the width of its parent container */
  height: auto; /* maintains the aspect ratio */
}

/* Use media queries for different screen sizes */
@media (max-width: 768px) {
  body{
    background-color: rgb(244, 145, 219);
  }
  .item img {
    max-width: 40%; /* smaller images on smaller screens */
  }
}



.item{
  position:absolute;
}


#meshtop img{
  position: absolute;
  top: 1%;
  left: 15vw;
  width:500px;
}

#blazer img{
  position: absolute;
  top: 30vh;
  left: 30vw;
  width: 220px;
}

#corset img{
  position: absolute;
  top: 50vh;
  left: 51vw;
  width: 200px;
}

#mugler img{
  position: absolute;
  top: 45vh;
  left: 70vw;
  width: 200px;
}

#omightytop img{
  position: absolute;
  top: 1vh;
  left: 90vw;
  width:230px;
}

#ottolinger img{
  position: absolute;
  top: 30%;
  left: 30%;
  width:190px;
}

#pinksweater img{
  position: absolute;
  top: 60vh;
  left: 26vw;
  width:250px;
}

#prayinghat img{
  position: absolute;
  top: 60vh;
  left: 51vw;
  width:200px;
}

#ro img{
  position: absolute;
  top: 1vh;
  left: 66vw;
  width:300px;
}

#hoodie img{
  position: absolute;
  top: 30vh;
  left: 60vw;
  width:300px;
}

#whiteskirt img{
  position: absolute;
  top: 60vh;
  left: 1vw;
  width:200px;
}

#windsor img{
  position: absolute;
  top: 60vh;
  left: 45vw;
  width:220px;
}

#gaultierskirt img{
  position: absolute;
  top: 1vh;
  left: 51vw;
  width:220px;
}

#item14 img{
  position: absolute;
  top: 30vh;
  left: 90vw;
  width:40vw;
}

.innerimage{
  position:absolute;
  width: 800px;
  left: 50vw;

}