.container {
    position: relative;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    text-align: center;
  }
  

  body {
    background-image: radial-gradient(circle, #3fdd00, #73e86b, #ececec);
  }
  

  div {
    position: relative;
    display: block;
    border: 3px solid #73AD21;
  
    }
  
  
  .innerimage{
    width: 800px;
    display: block;/* Makes the image a block-level element, allowing margin auto to center */
    margin-left: auto;/* Automatically adjusts the left margin to center the image */
    margin-right: auto;
  
  }
  
  .object-text{
      font-family: arial, sans-serif; /* Sets the font */
      position: absolute; /* Positions the element absolutely within its closest positioned ancestor */
      top: 50%; /* Positions the text halfway down the parent container */
      left: 50%; /* Positions the text halfway across the parent container */
      transform: translate(-50%, -50%); /* Centers the text exactly */
      text-align: center; /* Ensures the text itself is centered */
      font-size: 70px;
      line-height: 80px;
      transition: color 0.1s ease; /* smooth transition for color change */

    }
 
  /* Hover state */
  .object-text:hover {
    color: white; /* this is the color text will change to when hovered */
  }
  

  
  .cloth-home {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
  }
  

  .link{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:600;
    color:black;
    text-decoration: none;
  }

  hr.new1 {
    border-top: 1px solid black;
    margin:0 auto;
    width: 100%;
  }

  hr.new2 {
    border-top: 1px solid black;
    transform:translate(-50%,-50%) rotate(90deg);
    position:absolute;
    top:50%;
    left:50%;
    height:100%;
    width: 100%;
  }

  .container-for-hr{
    position:relative;
    height:100vh;
  }


.nextpagebotton{
  position: fixed; /* 使用固定定位，这样元素会固定在视口的相对位置 */
  right: 20px; /* 距离视口右侧20像素 */
  bottom: 20px; /* 距离视口底部20像素 */
  padding: 8px 16px; /* 内填充，上下10像素，左右20像素，根据需要调整以改变按钮大小 */
  background-color: transparent; 
  color: black; 
  text-decoration: none; /* 去掉下划线 */
  border-radius: 30px; /* 设置边框圆角的半径为15像素，创建圆弧型边框,数字越大越圆润*/
  font-size: 16px; /* 设置字体大小 */
  border: 1px solid black; 
  cursor: pointer; /* 当鼠标悬停时显示指针光标，表明这是一个可以点击的元素 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 添加阴影，增加立体效果 */
  z-index: 1000; /* 确保按钮在页面上的其他元素之上 */
}

