* {
  cursor: url('images/star.cur'), auto;
  }



.container {
  position: relative;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  text-align: center;
}



div {
  display: inline-block;
  }


body {
    cursor: url('images/star.cur'), auto;

  }


/* 针对所有的图片项，添加过渡效果以便变化平滑 */
.item {
  transition: transform 0.3s ease; /* 动画过渡时间可以根据需要调整 */
  display: inline-block; /* 如果图片是行内元素，则需要此设置以应用变换 */
}

/* 当鼠标悬停在具有类名 'item' 的元素上时，放大图片 */
.item:hover {
  transform: scale(1.4); /* 放大到原始大小的105%，可根据需求调整 */
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This class is for the rotating background container */
.rotating-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('images/sharp2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
  animation: rotateBackground 30s linear infinite;
}


#meshtop {
  position: absolute;
  top: 12vh;
  left: 6vw;
  width: 35vw;
  transform-origin: center;
}

#corset {
  position: absolute;
  top: 45vh;
  left: 1vw;
  width: 18vw;
  transform-origin: center;
}

#mugler {
  position: absolute;
  top: 18vh;
  left: 35vw;
  width: 13vw;
  transform-origin: center;
}

#omightytop {
  position: absolute;
  top: 1vh;
  left: 80vw;
  width:15vw;
  transform-origin: center;
}

#ottolinger {
  position: absolute;
  top: 55vh;
  left: 58vw;
  width:16vw;
  transform-origin: center;
}

#pinksweater {
  position: absolute;
  top: 40vh;
  left: 35vw;
  width:25vw;
  transform-origin: center;
 
}

#windsor {
  position: absolute;
  top: 1vh;
  left: 62vw;
  width:26vw;
  transform-origin: center;
}

#prayingcap {
  position: absolute;
  top: 1%;
  left: 1vw;
  width:12vw;
  transform-origin: center;
}

#ro {
  position: absolute;
  top: 70vh;
  left: 28vw;
  width:14vw;
  transform-origin: center;
}


#whiteskirt {
  position: absolute;
  top: 6vh;
  left: 48vw;
  width:12vw;
  transform-origin: center;
}

#hoodie {
  position: absolute;
  top: 45vh;
  left: 80vw;
  width:13vw;
  transform-origin: center;
}

#gaultierskirt {
  position: absolute;
  top: 45vh;
  left: 4vw;
  width:12vw;
  transform-origin: center;
}


.innerimage{
  width: 800px;
  display: block;/* Makes the image a block-level element, allowing margin auto to center */
  margin-left: auto;/* Automatically adjusts the left margin to center the image */
  margin-right: auto;

}



.link-style {
  font-family: Arial, sans-serif; /* Example font */
  text-decoration: none; /* Removes underline */
  color: black; /* Text color */
}

.cloth-home {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}

.accessories {
  position: absolute;
  top: 100px; /* Adjust as needed */
  left: 50px; /* Adjust as needed */
}


.homepage{
  display:flex;
  justify-content: center;/* 水平居中子元素 */
  align-items:center;/* 垂直居中子元素 */
  height:100vh;
}


.image-container {
  position: relative; /* 相对定位，用于绝对定位内部的链接 */
  display: flex; /* 创建另一个flex容器 */
  justify-content: center; /* 水平居中内部元素 */
  align-items: center; /* 垂直居中内部元素 */
  width: 100%; /* 或者是图片的宽度 */
  height: 500px;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
  z-index: 2;
  transition: opacity 0.3s;
  opacity: 0; /* 默认情况下，我们不显示背景 */
}


.link-homepage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 这个是关键，确保链接完全居中 */
  z-index: 3; /* 确保链接在图片上方 */
  font-size: 20px;
  font-weight:500;
  color:rgb(47, 210, 255);
  text-decoration: none;
}

.link-homepage:hover {
  color: #007BFF;
}


.gif{
  width:50vw;
  height:100vh;
  object-fit:fill;
}

#gif1{
  opacity: 1;
  background-color: white; 
}

#gif1:hover {
  opacity: 0.5;
  background-color: white;
}

#gif2{
  opacity: 1;
  background-color: white;
}



#gif2:hover {
  opacity: 0.5;
  background-color: white;
}



#Chanelring{
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 20vw;
  transform-origin: center;
}



#diorstarring{
  position: absolute;
  top: 45vh;
  left: 1vw;
  width: 18vw;
  transform-origin: center;
}



#krystal{
  position: absolute;
  top: 1vh;
  left: 35vw;
  width: 13vw;
  transform-origin: center;
}

#twistedhome{
  position: absolute;
  top: 13vh;
  left: 70vw;
  width:30vw;
  transform-origin: center;
}

#vwarmorring{
  position: absolute;
  top: 55vh;
  left: 69vw;
  width:21vw;
  transform-origin: center;
}

#vwblackring{
  position: absolute;
  top: 60vh;
  left: 30vw;
  width:25vw;
  transform-origin: center;
}

#vworbnecklace{
  position: absolute;
  top: 22vh;
  left: 24vw;
  width:39vw;
  transform-origin: center;
}


#crossringhome{
  position: absolute;
  top:9vh;
  left: 58vw;
  width:15vw;
  transform-origin: center;
}

.link{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:600;
  color:black;
  text-decoration: none;
}
