.image-container {
    position: relative;
  }


.dress {
    position:relative;
    max-width: 100%; /* Ensures image is responsive and doesn't overflow its container */
    height: auto; /* Keeps image aspect ratio intact */
    width: 20%; /* Adjust this to scale the image size */
    position: relative; /* Use 'absolute' if you need to position it outside of normal document flow */
    left: 0; /* Aligns the image to the left of the container */
  }
  
.center-large {
    width: 60%; /* Or any size you want */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image perfectly */
  }
 
.number-label {
    position: absolute;
    top: 10px; /* Adjust as necessary */
    left: 10px; /* Adjust as necessary */
    z-index: 10; /* Ensures the number appears above the image */
    /* Additional styles here for color, background, etc. */
    pointer-events: none;

}