@font-face {
    font-family:'LindenHill-webfont';
    src: url('font/LindenHill-webfont.ttf') format('ttf');
}

.container2 {
    width: 60%; /* or any specific width */
    margin: 0 auto; /* This centers the container */
    text-align: left; /* Ensures text within the container aligns left */
}


p {
    font-size: 16px;
    color: rgb(66, 68, 70);
    margin: 20px; /* Adjust as needed */
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

 
.title {
    font-size: 70px;
    font-family: 'LindenHill-webfont';
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .image-container {
    position: relative;
    height: 50px; /* This can be adjusted if needed */
  }
  
  .image-container img.image-scale.image-absolute {
    width: 300px;
    height: auto;
    position: absolute;
  }

  .image1 img.image-scale.image-absolute{
    top: 10px;
    left: 300px;
  }
  
  .image2 img.image-scale.image-absolute {
    top: 10px;
    left: 10px; /* Adjusted for demonstration */
  }
  
  .image3 img.image-scale.image-absolute {
    top: 10px;
    left: 500px; /* Adjusted based on your original CSS, assuming you want a different position */
  }


  